[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pika = "*"
termcolor = "*"
requests = "*"
google-cloud-pubsub = "*"
psycopg2-binary = "*"
google-cloud-storage = "*"
google-api-python-client = "*"
oauth2client = "*"

[requires]
python_version = "3.7"
